*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body{
    background-color: #1a1a1a;
}

.container-header{
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
}
.title{
    display: flex;
    margin: 20px;
    font-size: 6ch;
    height: 60px;
    width: 200px;
    color: rgb(119, 170, 204);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.eph1{
    margin: 20px;
    height: 100px;
    width: 350px;
    color: white;
    background-color: black;
    
}
li{
    list-style: none;
}
.p{
    color: white;
    background-color: black;
    width: 500px;
    margin-left: 35px;
}
.menu{
    width: 300px;
    height: 60px;
    padding: 10px 30px;
    
    
}

.menu ul{
    display: flex;
    flex-direction: row;
    color: rgb(205, 205, 234);
    justify-content: space-between;
    
    
}
.photo img{
    height: 500px;
    width: 450px;
    border-radius: 0.2cm;
}
.preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 100px;
    
}
.startep{
    height: 100px;
    margin: 10px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.episod{
    height: 360px;
    padding: 10;
    margin: 20px;
    border-radius: 0.2cm;
    background-color: black;
    display: flex;
    align-items: center;
}
.epcontent{
    margin: 10px 15px;
    background-color: black;
}
.episod img{
    margin-left: 30px;
    height: 300px;
    width: 300px;
}
button{
    margin-top: 60px;
    height: 30px;
    width: 200px;
    color: white;
    background-color: rgb(79, 161, 184);
    border-radius: 0.2cm;
}
.footmenu{
    margin: 20px 50px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.footmenu ul{
    width: 100px;
    margin: 30px 80px;
    display: flex;
    flex-direction: column;
    color: rgb(105, 105, 130);  
}

.container-feedback{
    display: flex;
    width: 100%;
    max-width: 1300px;
    flex-wrap: wrap;
    margin: 0 20px;
    
}


.feedback{
    margin: 10px;
    height: 100px;
    max-height: 500px;
    width: 250px;
    background-color: black;
    border-radius: 5%;
    padding: 5px;
}
.text-feedback{
    color:white;
}
.author-feedback{
    color: rgb(149, 179, 201);
}
 